body{
    margin: 0px;
 font-size: 20px;
 background-color: whitesmoke;
 font-family: 'Poppins', sans-serif;
}
.nav{
    background-color: blueviolet;
    height: 10vh;
    margin: 0px;
}
.nav h2{
    margin: 0px;
    text-align: center;
    font-style: bold;
    padding: 10px;
}
#heading{
    text-align: center;
}
.input-div{
    text-align: center;
}
.list-items{
    text-align: center;
   border: 3px solid black;
    
    box-shadow: 5px 10px gray;
    
}
.list-item{
   list-style: none;
  
}
.adding-margin{
    margin:4px;
}
